include README*
include LICENSE
include MANIFEST.in
include *.py
recursive-include PyOmniMisc *.py
recursive-include PyOmniMisc/traffic *.py
recursive-include PyOmniMisc/traffic *.csv
recursive-include PyOmniMisc/utils *.py
recursive-include PyOmniMisc/wifi *.py
recursive-include PyOmniMisc/model *.py